@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

body {
  font-size: 16px;
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.theme-white {
  color: #1c1c1c;
  ;
  background-color: #ffffff;
}

body.theme-black {
  color: #adbac7;
  background-color: #22272e
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

button {
  color: inherit;
  font-family: "Inter", sans-serif;
}

input {
  color: inherit;
  font-family: "Open Sans", sans-serif;
}

#root {
  height: 100vh
}

* {

  transition: background 300ms ease-in, border 300ms ease, color 0.25ms ease;
}

.Toastify {
  color: #ffffff;
  /* Replace with your desired text color */

}

.Toastify__toast-body {
  color: #1c1c1c
}

/* header {
  transition: background-color 300ms ease-in;
} */